body {
    display: flex;
    flex-direction: column;
    background-color: #92a8d1;
}

.tab {
    margin-left: 75px;
}

.flex {
    display: flex; 
    align-items: center;
    flex-direction: column; 
}

.a {
    display: flex; 
    align-items: center; 
    padding-inline: 50px;
    flex-direction: column; 
}

.b {
    width: 250px;
}

#embedded-iframe {
    align-self: center;
    width: 600px;
    height: 339px;
    border: solid;
    border-color: black;
    border-width: 2px;
    transform-origin: top left;
}

img {
    width: 500px;
    max-height: 700px;
    align-self: center;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    min-height: 38px;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    font-size: xx-large;
}

p {
    flex-direction: column;
    display: flex;
    min-height: 38px;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    font-size: xx-large;
}

.tall {
    height: fit-content !important;
}

.justify {
    display: block;
    text-align: justify;
}

.left {
    padding-left: 75px;
}

.page {
    padding: 100px;
    align-self: center;
    width: 1000px;
    height: 1285px;
    border: 2px;
    border-color: black;
    border-style: solid;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.borderless {
    border: none;
}

.center {
    align-self: center;
}

.right {
    margin-left: auto;
    align-self: flex-end;
}

.bold {
    font-weight: bold;
}